/*Ruta1.cs*/
.ruta1-container {
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  position: absolute;
  top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  color: white;
  font-size: 1.2em;
}

.datetime {
  font-size: 2.4em; /* Aumenta el tamaño de la fuente del reloj */
}

.welcome-message {
  font-size: 2.4em; /* Aumenta el tamaño de la fuente del mensaje de bienvenida */
}

.buttons {
  display: flex;
  gap: 20px;
}

.buttons button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  transition: background-color 0.3s;
}

.buttons button:hover {
  background-color: rgba(255, 255, 255, 1);
}
