/* src/components/Login.css */
.login-body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: url('./F_logo.jpg') no-repeat center center fixed;
  background-size: cover;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

/* Cambia el cursor a uno de movimiento solo cuando esté sobre el encabezado de la ventana */
.drag-handle {
  cursor: move; /* Indica que la ventana se puede mover desde el encabezado */
  padding-bottom: 10px;
}

.login-form {
  background: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100; /* Asegura que esté por encima de otros elementos */
}

/* Botón de cerrar en la esquina superior derecha del formulario de inicio de sesión */
.close-button-login {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 35px;
  height: 35px;
  background-color: #ccc; /* Color gris claro para el fondo */
  border: none;
  border-radius: 0; /* Mantener el botón cuadrado */
  color: black; /* Color de la cruz en negro */
  font-size: 20px; /* Tamaño de la cruz */
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.close-button-login:hover {
  background-color: #aaa; /* Color de fondo más oscuro al hacer hover */
  color: rgb(249, 161, 10); /* Mantener la cruz negra incluso al hacer hover */
}

form input {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #dbe8fa;
}

form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #061ef9;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

form button:hover {
  background-color: #061ef9;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.forgot-password-button {
  background: none;
  border: none;
  color: #007BFF;
  text-align: left;
  padding: 5px;
  cursor: pointer;
}

.forgot-password-button:hover {
  color: #061ef9;
  background-color: rgba(6, 30, 249, 0.1);
}

/* Estilo para el favicon dentro del formulario */
.favicon_1-img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 10px;
  right: 30px;
  margin-bottom: 10px;
}
